<div class="secondary-footer" ngsReveal>
	<img src="assets/img/icons/city.png" alt="city" class="img-fluid">
	<h2>Meet your city</h2>
	<div class="contents">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsam ex, dolores repellat veritatis quidem non error eum optio a suscipit asperiores sequi nihil, consequatur quibusdam magnam sed cumque reiciendis.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas cumque quam excepturi voluptatum unde quod temporibus, illo nam ab magni quibusdam velit incidunt, cum quidem porro facere tempore ea, ducimus.</p>
	</div>
</div>
<footer>
	<p>
		Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 SkipLoop Labs Pvt. Ltd. All rights reserved.
	</p>
</footer>