@import "base/colors";
@import "base/typography";
@import "helpers/mixins";
@import "components/header";
@import "components/banner";
@import "components/search-bar";
@import "components/categories";
@import "components/results";
@import "components/footer";
input {
	&:focus,
	&:hover,
	&:active {
		border: 0;
		outline: none;
	}
}
body {
	margin: auto;
	font-family: 'Roboto', sans-serif;
	font-weight: fontWeight(0)
}