<div class="container">
	<div class="row">
		<div class="col-md">
			<ul class="categories-holder" 
				[ngsRevealSet]="{ reset:true}" 
				[ngsInterval]="50" [ngsSelector]="'.items'">
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/dental.png" alt="" class="img-fluid">
					<span>Dentist</span>
				</li>
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/lab.png" alt="" class="img-fluid">
					<span>Medical Lab</span>
				</li>
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/cardiologist.png" alt="" class="img-fluid">
					<span>Cardiologist</span>
				</li>
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/ct-scan.png" alt="" class="img-fluid">
					<span>CT Scan</span>
				</li>
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/cardiologist.png" alt="" class="img-fluid">
					<span>Cardiologist</span>
				</li>
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/dental.png" alt="" class="img-fluid">
					<span>Dentist</span>
				</li>
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/cardiologist.png" alt="" class="img-fluid">
					<span>Cardiologist</span>
				</li>
				<li class="items"
					[routerLink]="['/results']">
					<img src="assets/img/icons/lab.png" alt="" class="img-fluid">
					<span>Medical Lab</span>
				</li>
			</ul>
			<button type="button" class="btn btn-primary">explore all</button>
		</div>
	</div>
</div>